img {
  padding: 0.5rem;
  border-radius: 8px;
  width: 350px;
}

#article-detail ul,
#article-detail ol {
  margin-left: 2rem;
  padding-left: 2rem;
}

#article-detail ul li {
  list-style-type: circle !important;
}

#article-detail ol li {
  list-style-type: decimal !important;
}

#article-detail img {
  float: left;
  margin: 2rem;
}

@media only screen and (max-width: 600px) {
  #article-detail ul,
  #article-detail ol {
    margin-left: 1.3rem;
    padding-left: 1.3rem;
  }
}
